:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

nav ul {
    width: fit-content;

    list-style-type:  none;
    margin: 0;
    padding: 2rem 2rem;

    width: 99vw;
    position: fixed;

    display: flex;
    gap: 2ch;

    /* From https://css.glass */
    background: rgba(192, 192, 192, 0.41);
    /*border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 0 solid rgba(192, 192, 192, 1);

    transition: 300ms;
}

nav ul:hover {
    background-color: rgba(192, 192, 192, 0.8);
}

.hero {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 3rem;
    margin: 0;
}

.about-section {
    background-color: purple;
    display: flex;
    height: 100vh;
}