@font-face {
    font-family: "Playfair Display";
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

:root {
    font-family: "Playfair Display",Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

nav ul {
    width: fit-content;

    list-style-type:  none;
    margin: 0;
    padding: 1rem 2rem;

    width: 99vw;
    position: fixed;

    display: flex;
    gap: 2ch;

    /* From https://css.glass */
    background: rgba(192, 192, 192, 0.41);
    /*border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 0 solid rgba(192, 192, 192, 1);

    transition: 300ms;
}

nav ul:hover {
    background-color: rgba(192, 192, 192, 0.8);
}

nav ul li {
    font-size: x-large;
}

.hero {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(142, 114, 179);
    padding: 3rem;
    margin: 0;
    background-image: url("images/sunset-flower-field-stockcake.webp");
    background-size: cover;
}

.hero h1 {
    font-size: 72px;
}

.hero p {
    font-size: larger;
}

.purpletext {
    color: purple;
}

.about-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 85vh;
    padding: 5rem 10rem;
}